{% block content %}
    <div class="card mb-4 shadow">
        <div class="card-body">
            {%- comment -%} {%for num in rating.stars%} {%- endcomment -%}
            {%assign stars = '*'%}
            <p>{{ rating.stars }}</p>
            {%- comment -%} {%endfor%} {%- endcomment -%}
            <div class="d-flex justify-content-between">
                <small>author: {{ rating.author.username }}</small>
                {% if rating.author == userId %}
                    <form action="/ratings/delete/{{recipe.id}}/{{rating.id}}?_method=DELETE" method="POST">
                        <input class="btn btn-danger" type="submit" value="X">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}