{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm">
        <form action="/recipes" method="POST">
            <fieldset>
               
                <legend>Create New Recipe</legend>
                <label class="form-label">Name: </label>
                    <input 
                        type="text" 
                        name="name"
                        placeholder="enter recipe name"
                        class="form-control"
                    >
                <label class="form-label">Ingredient name:</label>
                    <input 
                        type="text" 
                        name="ingredientName" 
                        placeholder="enter ingredient"
                        class="form-control"
                    >
                <label class="form-label">Amount:</label>
                   <select class="form-control" id="ingredientAmount" name="ingredientAmount">
                    {%for i  in (1..100)%}}
                    <option name="ingredientAmount">{{i}}</option>

                    {%endfor%}
                    </select>
                 <label class="form-label">Measurement:</label>
                    <input 
                        type="text" 
                        name="ingredientMeasurement" 
                        placeholder="enter amount"
                        class="form-control"
                    >
                <label class="form-label">Is Gluten Free:</label>
                    <input 
                        type="checkbox" 
                        name="isNaturallyGF"
                        class="form-check-input"
                    >
            </fieldset>
            <input 
                type="submit" 
                value="Create New Recipe"
                class="btn btn-success"
            >
        </form>
    </div>
{% endblock %}
